* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-radious {
  border-radius: 7% !important;
  padding: 2% !important;
}
.main {
  background-color: #111111;
}
.text {
  font-size: 20px !important;
  margin: 0 10px 0;
}
.card {
  background-color: rgb(0, 0, 0, 0.5) !important;
}
.justified-text {
  text-align: justify;
}
.det-img {
  border-radius: 10px;
}
.card-text {
  opacity: 50%;
  color: white;
  font-size: 20px !important;
  line-height: 20px !important;
}

.card-img-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.card {
  border-radius: 20px !important;
}
